{{template "header.html"}}
<h2>Artikel in Kategorie {{ .category.Name }}</h2>

{{ $category := .category }}

<h3>Zu Besorgen: {{ len .newItems }} Artikel</h3>

{{ if .newItems }}
<table>

    <tr>
        <th>Name</th>
        <th>Notiz</th>
        <th>Menge</th>
        <th></th>
        <th></th>
    </tr>

    {{ range .newItems }}
    <tr>
        <td>{{ .Name }}</td>
        <td>{{ .Note }}</td>
        <td>{{ .Amount }}</td>
        <td class="table-icon">
            <form action="/category/{{ $category.ID }}/item/{{ .ID }}/update" method="post">
                <input alt="Eingekauft" border="0" class="form-button-table-icon form-button-table"
                       src="/images/check-square-white.svg"
                       type="image">
            </form>
        </td>
        <td class="table-icon">
            <a href="/item/{{ .ID }}/change">
                <img alt="Bearbeiten" class="form-button-table-icon form-button-table" src="/images/edit-white.svg">
            </a>
        </td>
    </tr>
    {{ end }}

</table>

{{else}}
<p>Keine Einträge gefunden!</p>
{{end}}

<hr class="page-hr">

<h3>Letzte Einkäufe</h3>

{{ if .oldItems }}
<table>

    <tr>
        <th>Name</th>
        <th>Notiz</th>
        <th>Menge</th>
        <th></th>
        <th></th>
    </tr>

    {{ range .oldItems }}
    <tr>
        <td>{{ .Name }}</td>
        <td>{{ .Note }}</td>
        <td>{{ .Amount }}</td>
        <td>
            <form action="/category/{{ $category.ID }}/item/{{ .ID }}/update" method="post">
                <input alt="Nochmal kaufen" border="0" class="form-button-table-icon form-button-table"
                       src="/images/arrow-up-white.svg"
                       type="image">
            </form>
        </td>
        <td>
            <a href="/item/{{ .ID }}/change">
                <img alt="Bearbeiten" class="form-button-table-icon form-button-table" src="/images/edit-white.svg">
            </a>
        </td>
    </tr>
    {{ end }}

</table>

{{else}}
<p>Keine Einträge gefunden!</p>
{{end}}

{{template "footer.html"}}