{{template "header.html"}}
<h2>Kategorien</h2>

{{ $itemList := .itemList }}

{{ if .categoryList }}
<table>

    <tr>
        <th>Name</th>
        <th>Menge</th>
        <th></th>
    </tr>

    {{ range $index, $category := .categoryList }}
    <tr>

        <td style="background-color: {{ $category.Color }}">
            <a href="/category/{{ .ID }}"> {{ .Name }} </a>
        </td>
        <td>{{ GetItemCount $category }}</td>
        <td class="table-icon">
            <a href="/category/{{ .ID }}/change">
                <img alt="Bearbeiten" class="form-button-table-icon form-button-table" src="/images/edit-white.svg">
            </a>
        </td>

    </tr>
    {{ end }}

</table>

{{else}}
<p>Keine Kategorien gefunden!</p>
{{end}}

<form action="/category/new">
    <input class="form-button" type="submit" value="Neue Kategorie anlegen">
</form>

{{template "footer.html"}}