{{template "header.html"}}
<h2 class="title">{{ .title }}</h2>

{{ if .category }}

<form action="" enctype="multipart/form-data" method="post">

    <label for="name">Kategorie-Name:</label>
    <br>
    <input class="form-input" id="name" maxlength="100" name="name" required type="text" value="{{ .category.Name }}">
    <img src="/images/edit-3.svg">

    <br>
    <br>

    <label for="color">Farbe:</label>
    <br>
    <select id="color" name="color">
        {{ if ne .category.Color "#FFFFFF" }}
        <option value="{{ .Color }}">{{ .category.Color_name }}</option>
        {{ end }}
        <option value="#FFFFFF">Weiss</option>
        <option value="#D3F8E2">Grün</option>
        <option value="#E4C1F9">Violet</option>
        <option value="#F694C1">Rot</option>
        <option value="#EDE7B1">Gelb</option>
        <option value="#A9DEF9">Blau</option>
        <option value="#BAF2D8">Türkis</option>
    </select>
    <img src="/images/edit-3.svg">

    {{ else }}

    <form action="/category/new" enctype="multipart/form-data" method="post">

        <label for="name">Kategorie-Name:</label>
        <br>
        <input class="form-input" id="name" maxlength="100" name="name" placeholder="Gemüse, Milchprodukte" required
               type="text"> <img src="/images/edit-3.svg">

        <br>
        <br>

        <label for="color">Farbe:</label>
        <br>
        <select id="color" name="color">
            <option value="#FFFFFF">Weiss</option>
            <option value="#D3F8E2">Grün</option>
            <option value="#E4C1F9">Violet</option>
            <option value="#F694C1">Rot</option>
            <option value="#EDE7B1">Gelb</option>
            <option value="#A9DEF9">Blau</option>
            <option value="#BAF2D8">Türkis</option>
        </select>
        <img src="/images/edit-3.svg">

        {{ end }}

        <br>
        <br>
        <input class="form-button" required type="submit" value="Speichern">

    </form>

    {{ template "color-table.html" }}

    {{ if .category }}
    <br>
    <br>

    <form action="/category/{{ .category.ID }}/delete" method="post">
        <input class="form-button" type="submit" value="Kategorie löschen">
    </form>
    {{ end }}

    {{template "footer.html"}}