{{template "header.html"}}
<h2 class="title">{{ .title }}</h2>

{{ if .item }}

<form action="" method="post" enctype="multipart/form-data">
    <label for="name">Artikel-Name:</label>
    <br>
    <input type="text" name="name" id="name" class="form-input" maxlength="100" value="{{ .item.Name }}" required>
    <img src="/images/edit-3.svg">

    <br>
    <br>

    <label for="note">Notiz:</label>
    <br>
    <textarea name="note" id="note" class="form-input" maxlength="100">{{ .item.Note }}</textarea>
    <img src="/images/edit-3.svg">

    <br>
    <br>

    <label for="amount">Menge:</label>
    <br>
    <input type="number" name="amount" id="amount" class="form-input" value="{{ .item.Amount }}" min="1">
    <img src="/images/edit-3.svg">

    <br>
    <br>

    {{ if .categoryList }}
    <label for="category">Kategorie:</label>
    <br>
    <select name="category" id="category">
        {{ range .categoryList }}
        <option value="{{ .ID }}">{{ .ID }} {{ .Name }}</option>
        {{ end }}
    </select>
    <img src="/images/edit-3.svg">
    {{ else }}
        <p>Keine Kategorien vorhanden!</p>
    {{ end }}

    {{ else }}

    <form action="/item/new" method="post" enctype="multipart/form-data">

        <label for="name">Artikel-Name:</label>
        <br>
        <input type="text" name="name" id="name" class="form-input" maxlength="100" placeholder="Apfel, Paprika, Gurke"
               required> <img src="/images/edit-3.svg">

        <br>
        <br>

        <label for="note">Notiz:</label>
        <br>
        <textarea name="note" id="note" class="form-input" maxlength="100" placeholder="Nur Bio bitte."></textarea>
        <img src="/images/edit-3.svg">

        <br>
        <br>

        <label for="amount">Menge:</label>
        <br>
        <input type="number" name="amount" id="amount" class="form-input" value="1" min="1">
        <img src="/images/edit-3.svg">

        <br>
        <br>

        {{ if .categoryList }}
        <label for="category">Kategorie:</label>
        <br>
        <select name="category" id="category">
            {{ range .categoryList }}
                <option value="{{ .ID }}">{{ .ID }} {{ .Name }}</option>
            {{ end }}
        </select>
        <img src="/images/edit-3.svg">
        {{ else }}
            <p>Keine Kategorien vorhanden!</p>
        {{ end }}


        {{ end }}
        <br>
        <br>
        <input type="submit" value="Speichern" class="form-button" required>

    </form>

{{template "footer.html"}}