{{define "header.html"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/assets/styles.css" rel="stylesheet" type="text/css">
    <title>Einkaufsliste</title>
</head>

<body>
<!--<div class="container">
    <h1 class="title">
        <a class="title" href="/">Einkaufsliste</a>
    </h1>
    <hr>-->

<div class="topnav">
    <a class="home" href="/">Einkaufsliste</a>
    <a href="/item/new">Neuer Eintrag</a>
    <a href="/category">Kategorien</a>
</div>

{{end}}