{{define "header.html"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
    <title>Einkaufsliste</title>
</head>

<body>
<!--<div class="container">
    <h1 class="title">
        <a class="title" href="/">Einkaufsliste</a>
    </h1>
    <hr>-->

    <div class="topnav">
        <a class="home" href="/">Einkaufsliste</a>
        <a href="/item/new">Neuer Eintrag</a>
    </div>

    {{end}}