{{ define "item-listing-new.html" }}

{{ if . }}
<table>
    <tr>
        <th>Name</th>
        <th>Notiz</th>
        <th>Menge</th>
        <th></th>
        <th></th>
    </tr>

    {{ range . }}
    <tr>
        <td style="background-color: {{ GetItemColor (.) }}">{{ .Name }}</td>
        <td>{{ .Note }}</td>
        <td>{{ .Amount }}</td>
        <td class="table-icon">
            <form action="/item/{{ .ID }}/update" method="post">
                <input alt="Eingekauft" border="0" class="form-button-table-icon form-button-table"
                       src="/images/check-square-white.svg"
                       type="image">
            </form>
        </td>
        <td class="table-icon">
            <a href="/item/{{ .ID }}/change">
                <img alt="Bearbeiten" class="form-button-table-icon form-button-table" src="/images/edit-white.svg">
            </a>
        </td>
    </tr>
    {{ end }}

</table>

{{ else }}
<p>Keine Einträge gefunden!</p>
{{ end }}

{{ end }}