{{template "header.html"}}
<h2 class="title">{{ .title }}</h2>

{{ if .item }}
{{ $item := .item }}
<form action="" enctype="multipart/form-data" method="post">
    <label for="name">Artikel-Name:</label>
    <br>
    <input class="form-input" id="name" maxlength="100" name="name" required type="text" value="{{ .item.Name }}">
    <img src="/images/edit-3.svg">

    <br>
    <br>

    <label for="note">Notiz:</label>
    <br>
    <textarea class="form-input" id="note" maxlength="100" name="note">{{ .item.Note }}</textarea>
    <img src="/images/edit-3.svg">

    <br>
    <br>

    <label for="amount">Menge:</label>
    <br>
    <input class="form-input" id="amount" min="1" name="amount" type="number" value="{{ .item.Amount }}">
    <img src="/images/edit-3.svg">

    <br>
    <br>

    {{ if .categoryList }}
    <label for="category">Kategorie:</label>
    <br>
    <select id="category" name="category">
        <option value="{{ $item.Cat_id }}">{{ GetCategoryName $item }}</option>

        {{ range .categoryList }}
        <option value="{{ .ID }}">{{ .Name }}</option>
        {{ end }}

    </select>
    <img src="/images/edit-3.svg">

    {{ else }}
    <p>Keine Kategorien vorhanden!</p>
    {{ end }}

    {{ else }}

    <form action="/item/new" enctype="multipart/form-data" method="post">

        <label for="name">Artikel-Name:</label>
        <br>
        <input class="form-input" id="name" maxlength="100" name="name" placeholder="Apfel, Paprika, Gurke" required
               type="text"> <img src="/images/edit-3.svg">

        <br>
        <br>

        <label for="note">Notiz:</label>
        <br>
        <textarea class="form-input" id="note" maxlength="100" name="note" placeholder="Nur Bio bitte."></textarea>
        <img src="/images/edit-3.svg">

        <br>
        <br>

        <label for="amount">Menge:</label>
        <br>
        <input class="form-input" id="amount" min="1" name="amount" type="number" value="1">
        <img src="/images/edit-3.svg">

        <br>
        <br>

        {{ if .categoryList }}

        <label for="category">Kategorie:</label>
        <br>
        <select id="category" name="category">

            {{ range .categoryList }}
            <option value="{{ .ID }}">{{ .Name }}</option>
            {{ end }}

        </select>
        <img src="/images/edit-3.svg">

        {{ else }}
        <p>Keine Kategorien vorhanden!</p>
        {{ end }}

        {{ end }}

        <br>
        <br>
        <input class="form-button" required type="submit" value="Speichern">

    </form>

    {{template "footer.html"}}