{{template "header.html"}}
<h2 class="title">Artikel Verwalten</h2>

<h3>Zu Besorgen: {{ len .newItems }}</h3>

{{ if .newItems }}
<table>
    <tr>
        <th>Name</th>
        <th>Notiz</th>
        <th>Menge</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {{ range .newItems }}
    <tr>
        <td>{{ .Name }}</td>
        <td>{{ .Note }}</td>
        <td>{{ .Amount }}</td>
        <td class="table-icon">
            <form action="/item/{{ .ID }}/update" method="post">
                <input type="image" src="/images/check-square-white.svg" border="0" alt="Eingekauft" class="form-button-table-icon form-button-table">
            </form>
        </td>
        <td class="table-icon">
            <a href="/item/{{ .ID }}/change">
                <img src="/images/edit-white.svg" alt="Bearbeiten" class="form-button-table-icon form-button-table">
            </a>
        </td>
        <td class="table-icon">
            <form action="/item/{{ .ID }}/delete" method="post">
                <input type="image" src="/images/trash-2-white.svg" border="0" alt="Löschen" class="form-button-table-icon form-button-table">
            </form>
        </td>
    </tr>
    {{ end }}
</table>
{{else}}
<p>Keine Einträge gefunden!</p>
{{end}}

<hr class="page-hr">
<h3>Letzte Einkäufe</h3>

{{ if .oldItems }}
<table>
    <tr>
        <th>Name</th>
        <th>Notiz</th>
        <th>Menge</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {{ range .oldItems }}
    <tr>
        <td>{{ .Name }}</td>
        <td>{{ .Note }}</td>
        <td>{{ .Amount }}</td>
        <td>
            <form action="/item/{{ .ID }}/update" method="post">
                <input type="image" src="/images/arrow-up-white.svg" border="0" alt="Nochmal kaufen" class="form-button-table-icon form-button-table">
            </form>
        </td>
        <td>
            <a href="/item/{{ .ID }}/change">
                <img src="/images/edit-white.svg" alt="Bearbeiten" class="form-button-table-icon form-button-table">
            </a>
        </td>
        <td class="table-icon">
            <form action="/item/{{ .ID }}/delete" method="post">
                <input type="image" src="/images/trash-2-white.svg" border="0" alt="Löschen" class="form-button-table-icon form-button-table">
            </form>
        </td>
    </tr>
    {{ end }}
</table>
{{else}}
<p>Keine Einträge gefunden!</p>
{{end}}

<hr class="page-hr">
<h3>Gelöschte Einträge</h3>

{{ if .deletedItems }}
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Notiz</th>
        <th>Menge</th>
        <th></th>
        <th></th>
    </tr>
    {{ range .deletedItems }}
    <tr>
        <td>{{ .ID }}</td>
        <td>{{ .Name }}</td>
        <td>{{ .Note }}</td>
        <td>{{ .Amount }}</td>
        <td>
            <a href="/item/{{ .ID }}/change">
                <img src="/images/edit-white.svg" alt="Bearbeiten" class="form-button-table-icon form-button-table">
            </a>
        </td>
        <td class="table-icon">
            <form action="/item/{{ .ID }}/delete" method="post">
                <input type="image" src="/images/refresh-cw-white.svg" border="0" alt="Wiederherstellen" class="form-button-table-icon form-button-table">
            </form>
        </td>
    </tr>
    {{ end }}
</table>
{{else}}
<p>Keine gelöschten Einträge!</p>
{{end}}

<hr class="page-hr">

<h3>DEBUG</h3>

{{ if .itemList }}
<ol>
    {{ range .itemList }}
    <li>{{.}}</li>
    {{end}}
</ol>
{{else}}
<p>No entries</p>
{{end}}

{{template "footer.html"}}