:root {
    --white: #fffdfa;
    --black: #000000;

    --pale-cerulean: #8db6d4;
    --prussian-blue: #05344d;

    --firebrick: #c02121;
    --cinnabar: #eb4833;

    --amazon: #2a794e;
    --ocean-green: #67cb94;

    --citrine: #e2d515;
    --canary: #ffe149;

    --celtic-blue: #0d68d1;
    --capri: #3ebbf1;
    --dark-turquoise: #00d0dd;


    --tuscan-red: #814b59;
    --china-rose: #ac5d86;

    --cool-grey: #8990aa;
    --gainsboro: #dcdcdc;

    --black-coffe: #352d28;
    --light-gray: #d0c8c8;

    font-family: Arial, Helvetica ,"monospace";
    --font-size: 1rem;
    font-size: var(--font-size);
}

/*HEADING SETTINGS*/

h2 {
    margin: 1rem 0rem 1rem;
    color: var(--celtic-blue);
    text-decoration: none;
}

h3 {
    margin: 2rem 0rem 2rem;
    color: var(--black);
    text-decoration: none;
}

/*PAGE SPLITTING*/

hr {
    color: var(--capri);
}

.page-hr {
    color: var(--capri);
    width: 50%;
}

/*TABLE SETTINGS*/

table {
    width: 100%;
    margin: 0 0 2rem;
    border-collapse: collapse;
}

td,
th {
    padding: .25rem .5rem;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
}

th {
    text-align: left;
}

.table-icon {
    padding: 0.2rem 0.5rem;
}

thead th {
    border-bottom-color: black;
}

.table-small-column {
    max-width: 0.5rem;
}

/*TOP NAVIGATION BAR*/

.topnav {
    background-color: var(--celtic-blue);
    overflow: hidden;
    width: 100%;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: calc(var(--font-size) * 1.2);
}

.topnav a:hover {
    background-color: var(--capri);
    color: black;
}

.topnav a.active {
    background-color: var(--capri);
    color: white;
}

.topnav a.home {
    font-weight: bold;
}

/*FORM SETTINGS*/

.form-button {
    padding: 0.5rem;
    margin: 0 0 1rem;
    min-width: 200px;
    text-align: center;

    text-decoration: none;
    background-color: var(--celtic-blue);
    color: white;
    font-size: inherit;

    border-radius: 7px;
    border-width: 1px;
}

.form-button-table {
    padding: 0.2rem;
    text-align: center;

    text-decoration: none;
    background-color: var(--celtic-blue);
    color: white;

    border-radius: 7px;
    border-width: 1px;
}

.form-button:hover,
.form-button:active,
.form-button-table:hover,
.form-button-table:active {
    background-color: var(--capri);
    color: black;
}

.form-input {
    border-radius: 7px;
    height: 24px;
    font-size: inherit;
    width: 80%;
}

label {
    margin: 2rem 0 0;
    font-size: inherit;
}

.form-button-table-icon {
    border: 0;
}

/*FOOTER SETTINGS*/

.footer {
    display: flex;
    justify-content: center;
}

.footer-item {
    padding-left: 10px;
    padding-right: 10px;
}